<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/home"><i class="fas fa-chess-king"></i> GameLooM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-dark" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" 
               [routerLink]="['games']" 
               routerLinkActive="active" 
               [routerLinkActiveOptions]="{ exact: true }">
              <i class="fas fa-home-alt"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               [routerLink]="['/my-games']" 
               routerLinkActive="active">
              <i class="fas fa-gamepad"></i> My games
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               [routerLink]="['/wishlist']" 
               routerLinkActive="active">
              <i class="fas fa-heart"></i> Wishlist
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               [routerLink]="['/my-returned-games']" 
               routerLinkActive="active">
              <i class="fas fa-bell"></i> Returned games
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
               [routerLink]="['/borrowed-games']" 
               routerLinkActive="active">
              <i class="fas fa-handshake"></i> Borrowed games
            </a>
          </li>
        </ul>
        <form class="d-flex gap-2 align-items-center" role="search">
            <input class="form-control me-2" 
                     type="text" 
                     placeholder="Search" 
                     aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <span>Welcome </span>
            <span class="text-capitalize fw-bold">Bassem</span>
            <button class="btn btn-link" type="button" (click)="logout()">
                <i class="fas fa-sign-out"></i>
            </button>
        </form>
      </div>
    </div>
  </nav>
