.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; 
}

.activate-message, .activate-error {
  text-align: center;
}

.activate-message button,
.activate-error button {
  margin-top: 20px; 
}
